/***********************************************************************
* File that contains variables that components van utilize.
*
* This is what the import will look like for most component/*.scss files
* @import "../../stylesheets/variables.scss";
***********************************************************************/
.App {
  border: 2px solid black;
  height: 500px;
  width: 30em; }
